@model IEnumerable<EstateApp.Data.Entities.Property>
<h1>Property Page</h1>

@if(Model is object)
{

    @foreach(var property in Model)
    {
        <h3>@property.Title</h3>
        <hr/>
        <p>@property.Price</P>
        <p>@property.Address</P>
        <p>@property.ContactPhoneNumber</P>
    }
}
